[package]
name = "anes"
version = "0.1.5"
authors = ["Robert Vojta <rvojta@me.com>"]
edition = "2018"
description = "ANSI Escape Sequences provider & parser"
repository = "https://github.com/zrzka/anes-rs"
documentation = "https://docs.rs/anes/"
license = "MIT OR Apache-2.0"
keywords = ["console", "terminal", "ansi", "parser"]
exclude = ["target", "Cargo.lock"]
readme = "README.md"

[lib]
bench = false

[badges]
maintenance = { status = "actively-developed" }

[package.metadata.docs.rs]
all-features = true

[features]
default = []
parser = ["bitflags"]

[dependencies]
bitflags = { version = "1.2", optional = true }

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "bench_main"
harness = false
required-features = ["parser"]
